#menu{
    width: 9%;
    margin-left: 10px;
}

.menuItem{
    border: 1px rgb(0, 0, 0) solid;
    padding: 1%;
    background-color: rgb(151, 210, 212);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

@media screen and (max-width: 1920px) {
    #menu{
        width: 12%;
    }
}