#unregcall{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0.5%;
}

h4{
    margin-bottom: 1%;
    margin-top: 4%;
    text-align: center;
}

#urh3{
    width: 220px;
    margin-bottom: 5px;
}

#ucdesc{
    resize:vertical;
    height: 100px;
    width: 180px;
}

#ucSucMsg{
    color: green;
}

@media screen and (max-width: 1920px){
    #ucBtn{
        width: 215px;
    }

    #unregFormCall .regData{
        width: 190px;
    }
}